:root {
  --red: #e50914
}

* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  max-width: 425px;
  min-width: 320px;
  margin: 0 auto;
}

header {
  background: url('https://assets.nflxext.com/ffe/siteui/vlv3/5ea364b1-8e59-4693-8ad8-f0eaee32d1bf/12117aa5-d813-4311-9cc0-f26cccde768a/CO-es-20220530-popsignuptwoweeks-perspective_alpha_website_medium.jpg');
  min-height: 550px;
  max-height: 700px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}


header nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 10px;
}

li {
  list-style: none;
}


nav ul .header__container--buttons {
  display: flex;
  flex-direction: row;
}


.header__container--logo li img {
  width: 100px;
  margin-left: 15px;
}

.header__container--buttons li:nth-child(1) select,
.header__container--buttons li:nth-child(2) button {
  margin-right: 10px;
  padding: 5px;

}

.header__container--buttons li:nth-child(1) select {
  background-color: black;
  color: white;
}

.header__container--buttons li:nth-child(2) button {
  background-color: var(--red);
  border: none;
  color: white;
  border-radius: 4px;
}

header .header__container--texts {
  color: white;
  text-align: center;
}

header .header__container--texts h1 {
  margin: 0 20px;
  margin-top: 50px;
  font-size: 30px;
  margin-bottom: 10px;
} 

header .header__container--texts p:nth-child(2), 
header .header__container--texts p:nth-child(3) {
  margin: 30px 20px 30px;
  font-size: 18px;
}

header .header__container--input {
  display: flex;
  flex-direction: column;
  max-width: 270px;
  margin: 0 auto;
  
}

header .header__container--input input {
  padding: 15px 10px;
  margin-bottom: 10px;
}

header .header__container--input button {
  display: inline-block;
  min-width: 80px;
  margin: 0 auto;
  padding: 12px 30px;
  text-align: center;
  background-color: var(--red);
  color: white;
  border: none;
  border-radius: 3px;
}
